
@{
    ViewBag.Title = "Yetkisiz  Erişim";
}



 <div class="row text-center">
     <div class="col-md-8 col-md-offset-2">
         <h2><span class="glyphicon glyphicon glyphicon-remove-circle"></span>  Yetkisiz  Erişim</h2>
         
         <p>
             Bu sayfaya erişim yetkiniz bulunmamaktadır.
         </p>
         <br />
         @Html.ActionLink("Anasayfaya git","Index","Home",null,new {@class ="bnt bnt-default"})


     </div>


 </div>